**/build/
**/cmake-build*/
**/CMakeFiles/
CMakeCache.txt
Testing/

*.o
*.obj
*.a
*.so
*.dylib
*.lib
*.dll
*.exe
*.pdb
*.gcda
*.gcno
*.gcov

.vscode/
.idea/
*.user
*.suo
*.ncb
*.sln.docstates
*.log
.DS_Store
Thumbs.db
.gitignore
hints.txt
fractal_square.svg
