[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb
*.cache

*.user
*.userosscache
*.sln.docstates

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

[Tt]emp/
[Tt]mp/
*.tmp
*.log


*.bak
*.backup

.DS_Store
Thumbs.db

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]uild/

/[Aa]rtery/